/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */
@media (min-width: 600px){
  .grid-wrapper{
    /* max-width: 1200px; */
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: auto 150px auto;
    margin-top: 2em;
    grid-column-gap: 1em;
    }
}
.body {
  font-family: 'Lora' serif;
}
a{
  text-decoration: none;
}
/* img {
  width: 100%;
  border-radius: 50%;
  border: 20px (white, 0.5) solid;
}*/
.text__headline{
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 3.2em;
  text-align: center;
  z-index: 500;
  margin: auto;
  }
  h1{
    font-family: 'Yantramanav', sans-serif;
    font-weight: normal;
  }
.text__block--large{
  grid-column: 1/-1;
  font-size: 1.1em;
  margin: auto;
  line-height: 1.3;
  font-style: italic;
  text-align: left;
  }
  .text__block--medium{
    grid-column: 1/-1;
    font-size: .5em;
    margin: auto;
    line-height: 1.3;
    font-style: italic;
    text-align: left;
    }
  .text__column p::first-letter{
    line-height: 1.4;
    font-size: 1.5em;
    margin-right: 1px;
    color: #686c6a;
    text-align: left;
  }
  .footer{
text-align: left;
  }
